<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
">
<bean id="mail" class="com.ab.MnoEmail" scope="prototype">  
<!--  constructor-arg value="smtp.server.com" type="string" ></constructor-arg -->   
</bean>
    <!-- scope prototype is required only for giving dynamic values -->
<!--  bean id="e" class="Employee" scope="prototype">  
<constructor-arg value="10" type="int" ></constructor-arg>   
<property name="name">  
<value>Arun</value>  
</property>  
</bean -->
</beans>
