<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop-3.0.xsd ">

    <!-- Define the LoggingAspect bean -->
    <bean id="loggingAspect" class="org.example.LoggingAspect"/>

    <!-- Configure Spring AOP -->
    <aop:config>
        <aop:aspect ref="loggingAspect">

            <!-- Define the pointcut expression -->
            <aop:before method="beforeMethodExecution"
                        pointcut="execution(* org.example.MyService.*(..))"/>

        </aop:aspect>
    </aop:config>

</beans>
